.container
{
    border:1px solid red;
    width:672px;
    height: 672px;
    display: flex;
    flex-wrap: wrap;
    margin: 100px auto;

    
}

.boxing
{
    border:1px solid green;
    
    width: 40px;
    height: 40px;  
    
}
.button
{
    width: 150px;
    height: 75px;
    
}

.centering
{
    display:flex;
    justify-content: center;
    height: 10vh;
    align-items: flex-end;
}


 .black
{background: black;} 


:root
{
    margin: 0;
    padding: 0;
}