.container
{
    border:1px solid red;
    width:648px;
    height: 640px;
    display: flex;
    
    flex-wrap: wrap;
    
    overflow: hidden;
}

.boxing
{
    border:1px solid green;
    
    min-width: 160px;
    height: 160px;
    display: flex;
   
    
    
    
    
    
   
    
}

:root
{
    margin: 0;
    padding: 0;
}